@view-transition {
  navigation: auto;
}

body {
  min-height: 100dvh;
  background: linear-gradient(#274060, #1b2845);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: clip;
  overflow-y: scroll;
}

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  align-items: start;
  width: 100%;
  max-width: 960px;
  min-height: 100dvh;
  margin-inline: auto;
  color: #fff;

  > * {
    padding: 0.5rem;
  }

  @media (width > 750px) {
    grid-template-columns: 200px minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr) auto;
    grid-template-areas: "header header" "nav content" "footer footer";
  }

  &__header {
    grid-area: header;

    @media (width <= 750px) {
      position: sticky;
      top: 0;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #274060;
    }
  }

  ._menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    input {
      display: none;
    }

    &:has(:checked) {
      outline: none;
      opacity: .7;
    }

    @media (width > 750px) {
      display: none;
    }
  }

  &__nav {
    @media (width <= 750px) {
      display: none;
    }

    @media (width > 750px) {
      grid-area: nav;
      position: sticky;
      top: 2rem;
    }
  }

  &:has(#mobileNavTrigger:checked) &__nav {
    display: block;
    position: fixed;
    top: 2rem;
    left: 1rem;
    z-index: 5;
    padding: 2rem;
    background: #274060;
    box-shadow: 0 0 3px #092e5e;
  }

  &__content {
    grid-area: content;
  }

  &__footer {
    grid-area: footer;
  }
}

.container {
  width: 100%;
  max-width: var(--app-container-max-width);
  margin-inline: auto;
  padding-inline: var(--app-padding-inline);
}
