.devlinxItem {
  display: grid;
  grid-template-columns: 4rem minmax(0, 1fr);
  grid-template-areas: "icon name" "icon description";
  align-items: start;
  column-gap: 1rem;
  text-decoration: none;
  color: var(--app-color-text-primary);

  &.is-short {
    justify-self: center;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-areas: "icon" "name";
    justify-items: center;
    align-content: start;
    gap: 0.5rem;
    word-break: break-word;
  }

  &__icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    color: var(--app-color-text-primary);
    font-size: 4rem;
    clip-path: var(--app-clip-path-squircle);

    svg {
      height: 100%;
    }

    img {
      width: fit-content;
      height: fit-content;
      max-width: 100%;
    }

    &.as-text {
      font-family: var(--app-font-family-primary);
      font-weight: 800;
    }
  }

  &__name {
    grid-area: name;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--app-font-family-primary);
    font-size: 2rem;

    .is-short & {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: .75rem;
      text-align: center;
    }
  }

  &__description {
    grid-area: description;
    color: var(--app-color-text-secondary);
    font-family: monospace;
    font-size: 1rem;
    text-wrap: balance;
  }

  ._link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &.is-short,
  &.is-short ._link {
    &:hover {
      text-decoration: underline;
    }
  }

  &:not(.is-short) {
    &:hover ._link {
      &::after {
        content: "_";
        animation: blink 1.5s infinite both;
      }
    }
  }
}
