:root {
  --app-container-max-width: 960px;
  --app-padding-inline: 1rem;
  --app-font-family-primary: "JetBrains Mono Variable", monospace;
  --app-color-text-primary: #fff;
  --app-color-text-primary-inverse: #000;
  --app-color-text-secondary: #aaa;
}
