.skeleton-item {
  --bg: linear-gradient(90deg, #aaa 25%, #ddd 50%, #aaa 75%);

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.25;

  &._list {
    display: grid;
    grid-template-columns: 4rem minmax(0, 1fr);
    grid-template-areas: "icon name" "icon description";
    align-items: start;
    column-gap: 1rem;
  }

  :where(._icon, ._name, p) {
    background-image: var(--bg);
    background-size: 200% 100%;
    animation: shimmer 3s infinite;
    border-radius: 4px;
  }

  ._icon {
    grid-area: icon;
    width: 64px;
    height: 64px;
  }

  ._name {
    grid-area: name;
    height: 1rem;
    width: 5ch;
  }

  &._list ._name {
    height: 2rem;
    width: 50%;
  }

  ._description {
    grid-area: description;
    display: flex;
    flex-flow: column;
    gap: 0.25rem;

    p {
      height: 1rem;

      &:nth-child(1) {
        width: 80%;
      }

      &:nth-child(2) {
        width: 90%;
      }

      &:nth-child(3) {
        width: 30%;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
