---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LinkCard from "@/components/LinkCard.astro";
import LinkList from "@/components/LinkList.astro";
import { Suspense } from "simple-stack-stream/components";
import { getCollection } from "astro:content";

const { category } = Astro.params;

const categories = await getCollection("Categories");
const categoryExists = categories.some(({ data }) => data.slug === category);

let linksInCategory = [];

if (categoryExists) {
  linksInCategory = await getCollection("Links", ({ data }) => {
    return data.category === category;
  });
} else {
  return Astro.redirect("/404");
}
---

<BaseLayout>
  <Suspense>
    <LinkList>
      {linksInCategory.map((link) => <LinkCard linkItem={link} />)}
    </LinkList>
    <LinkList slot="fallback">
      {
        linksInCategory.map(() => (
          <div class="skeleton-item _list">
            <div class="_icon" />
            <div class="_name" />
            <div class="_description">
              <p></p>
              <p></p>
              <p></p>
            </div>
          </div>
        ))
      }
    </LinkList>
  </Suspense>
</BaseLayout>
