---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LinkList from "@/components/LinkList.astro";
import { Suspense } from "simple-stack-stream/components";
import { getCollection } from "astro:content";
import LinkCard from "@/components/LinkCard.astro";

const links = await getCollection("Links");
---

<BaseLayout>
  <Suspense>
    <LinkList>
      {links.map((link) => <LinkCard isShort linkItem={link} category />)}
    </LinkList>
    <LinkList slot="fallback">
      {
        links.map(() => (
          <div class="skeleton-item is-short">
            <div class="_icon" />
            <div class="_name" />
          </div>
        ))
      }
    </LinkList>
  </Suspense>
</BaseLayout>
