---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LinkList from "@/components/LinkList.astro";

import { getCollection } from "astro:content";

const links = await getCollection("Links");
---

<BaseLayout>
  <div hx-get="/allLinks" hx-trigger="load" hx-swap="innerHTML">
    <LinkList>
      {
        links.map(() => (
          <div class="skeleton-item is-short">
            <div class="_icon" />
            <div class="_name" />
          </div>
        ))
      }
    </LinkList>
  </div>
</BaseLayout>
