---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LinkCard from "@/components/LinkCard.astro";
import LinkList from "@/components/LinkList.astro";
import { getCollection } from "astro:content";

const { category } = Astro.params;

const categories = await getCollection("Categories");
const categoryExists = categories.some(({ data }) => data.slug === category);

let linksInCategory = [];

if (categoryExists) {
  linksInCategory = await getCollection("Links", ({ data }) => {
    return data.category === category;
  });
} else {
  return Astro.redirect("/ru/404");
}
---

<BaseLayout>
  <LinkList>
    {
      linksInCategory.map((link) => (
        <LinkCard linkItem={link} server:defer>
          <div class="skeleton-item _list" slot="fallback">
            <div class="_icon" />
            <div class="_name" />
            <div class="_description">
              <p />
              <p />
              <p />
            </div>
          </div>
        </LinkCard>
      ))
    }
  </LinkList>
</BaseLayout>
