---

---

<section class="devlinxList">
  <slot />
</section>

<style lang="scss" is:global>
  .devlinxList {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    padding-bottom: 3rem;
  }
</style>
