---
const currentLocale = Astro.currentLocale;
---

<div class="locale-switcher">
  <div class:list={[currentLocale == "en" ? "is-current" : ""]}>
    <a href="/en">EN</a>
  </div>
  <div class:list={[currentLocale == "ru" ? "is-current" : ""]}>
    <a href="/ru">RU</a>
  </div>
</div>

<style lang="scss">
  .locale-switcher {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: monospace;
    margin-bottom: 2rem;

    a {
      font-size: 1.2rem;
      color: var(--app-color-text-primary);
      opacity: .5;
      text-decoration: none;
    }

    .is-current a {
      font-weight: 700;
      opacity: 1;
    }
  }
</style>
