---
import "@/styles/index.scss";
import "@fontsource-variable/jetbrains-mono";

import FavIcon from "@/components/app/FavIcon.astro";
import HeaderScripts from "@/components/app/HeaderScripts.astro";
import AppHeader from "@/components/app/AppHeader.astro";
import AppFooter from "@/components/app/AppFooter.astro";
import Nav from "@/components/Nav.astro";
import CriticalCSS from "@/components/app/CriticalCSS.astro";
import LocaleSwitch from "@/components/LocaleSwitch.astro";
import IconHamburgerSVG from "@/components/IconHamburger.svg.astro";

interface Props {
  title?: string;
  description?: string;
}

let localeTitle, localeDescription, localeLang;

if (Astro.currentLocale == "ru") {
  localeTitle = "devlinx – ссылки для разработчика на каждый день ";
  localeDescription =
    "ссылки для разработчика на различные тематические ресурсы, которые сделают работу комфортнее";
  localeLang = "ru";
} else {
  localeTitle = "devlinx – linx for the developer for every day";
  localeDescription =
    "linx for the developer to various thematic resources that will make work more comfortable";
  localeLang = "en";
}

const { title = localeTitle, description = localeDescription } = Astro.props;
---

<!doctype html>
<html lang={localeLang}>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <CriticalCSS />
    <FavIcon />
    <HeaderScripts />
  </head>
  <body>
    <div class="app">
      <div class="app__header">
        <div class="_menu-mobile">
          <label for="mobileNavTrigger">
            <IconHamburgerSVG tabindex="-1"/>
          </label>
          <input type="checkbox" id="mobileNavTrigger">
        </div>
        <AppHeader />
      </div>
      <div class="app__nav">
        <Nav />
      </div>

      <div class="app__content">
        <main>
          <slot />
        </main>
      </div>
      <div class="app__footer">
        <AppFooter />
      </div>
    </div>
  </body>
</html>
