---
import "@/styles/index.scss";
import "@fontsource-variable/jetbrains-mono";

import FavIcon from "@/components/app/FavIcon.astro";
import HeaderScripts from "@/components/app/HeaderScripts.astro";
import AppHeader from "@/components/app/AppHeader.astro";
import AppFooter from "@/components/app/AppFooter.astro";
import Nav from "@/components/Nav.astro";
import CriticalCSS from "@/components/app/CriticalCSS.astro";
// import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "devlinx – links for every frontend development day",
  description = "linx to various frontend web development resources",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <CriticalCSS/>
    <FavIcon />
    <HeaderScripts/>
    <!-- <ViewTransitions/> -->
  </head>
  <body>
    <div class="app">
      <div class="app__header">
        <AppHeader />
      </div>
      <div class="app__nav">
        <Nav />
      </div>
      <div class="app__content">
        <main>
          <slot />
        </main>
      </div>
      <div class="app__footer">
        <AppFooter />
      </div>
    </div>
  </body>
</html>
